.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 296px;
    position: relative;
}

.controls {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.authMessage {
    position: absolute;
    bottom: -20px;
    display: none;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: red;
}

.authMessage.visible {
    display: block;
}